n8n/hvac-lead-workflow.json
{
  "name": "HVAC Lead Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hvac-lead",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1f000000-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300],
      "webhookId": "hvac-lead"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "1f000000-0000-4000-8000-000000000002",
      "name": "Append to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [520, 300],
      "credentials": {}
    },
    {
      "parameters": {
        "operation": "send",
        "from": "+1XXXXXXXXXX",
        "to": "={{ $('Webhook').item.json.callback_number }}",
        "toWhatsapp": false,
        "message": "=Thanks {{ $('Webhook').item.json.name }} — we received your {{ $('Webhook').item.json.problem }} request and a technician will call you back shortly.",
        "options": {}
      },
      "id": "1f000000-0000-4000-8000-000000000003",
      "name": "Send SMS Confirmation",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [780, 300],
      "credentials": {}
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Sheet": {
      "main": [
        [
          {
            "node": "Send SMS Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
